ble/Node-RED.txt
[
    {
        "id": "e4be68656b866693",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "56f34ca41a674228",
        "type": "server-state-changed",
        "z": "e4be68656b866693",
        "name": "sensor.s20",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.s20_bt_room",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 420,
        "wires": [
            [
                "5ec5552d60031c2c"
            ]
        ]
    },
    {
        "id": "5ec5552d60031c2c",
        "type": "switch",
        "z": "e4be68656b866693",
        "name": "расположение",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Holl",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "61a00a707728935b"
            ],
            [],
            []
        ]
    },
    {
        "id": "bf7ff0f1d95273e0",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "Андрей запуск",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"включи вперемешку подборку андрей\",\"media_content_type\":\"command\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "ec2df5fb340ab460",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "доброе утроА",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"Доброе утро Андрей\",\"media_content_type\":\"text\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "9e7a818e6cf52b7f",
                "14726c0e7f8d97c0"
            ]
        ]
    },
    {
        "id": "b62612da94121bd1",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "вопрос",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"Включить вашу музыку?\",\"media_content_type\":\"dialog\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "59b12d17a57b21df"
            ]
        ]
    },
    {
        "id": "bb800186ec8ebc42",
        "type": "delay",
        "z": "e4be68656b866693",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "b62612da94121bd1"
            ]
        ]
    },
    {
        "id": "59b12d17a57b21df",
        "type": "delay",
        "z": "e4be68656b866693",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 20,
        "wires": [
            [
                "ce19c20dab7cc2f4"
            ]
        ]
    },
    {
        "id": "14726c0e7f8d97c0",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.andrey",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "61a00a707728935b",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.andrey",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "ec2df5fb340ab460"
            ],
            []
        ]
    },
    {
        "id": "9e7a818e6cf52b7f",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.deistvie",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 230,
        "y": 220,
        "wires": [
            [],
            [
                "bb800186ec8ebc42"
            ]
        ]
    },
    {
        "id": "ce19c20dab7cc2f4",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.deistvie",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 730,
        "y": 160,
        "wires": [
            [
                "bf7ff0f1d95273e0"
            ],
            []
        ]
    },
    {
        "id": "fcefcb87234eb0b9",
        "type": "server-state-changed",
        "z": "e4be68656b866693",
        "name": "sensor.note10",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mi10_bt_room",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 960,
        "wires": [
            [
                "b7493f9487573468"
            ]
        ]
    },
    {
        "id": "b7493f9487573468",
        "type": "switch",
        "z": "e4be68656b866693",
        "name": "расположение",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Kitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Bedroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Holl",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 960,
        "wires": [
            [
                "57f8d7f660f9a55c"
            ],
            [],
            []
        ]
    },
    {
        "id": "974db16fd7bfbe11",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "вопрос",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"Включить вашу музыку?\",\"media_content_type\":\"dialog\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 640,
        "y": 740,
        "wires": [
            [
                "03f9288ca43bc3b5"
            ]
        ]
    },
    {
        "id": "76fdab5910070fd6",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "Лена запуск",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"включи вперемешку подборку лена\",\"media_content_type\":\"command\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 230,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c6eac464511edce3",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.deistvie",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 640,
        "wires": [
            [
                "76fdab5910070fd6"
            ],
            []
        ]
    },
    {
        "id": "3802cdff6dd56210",
        "type": "delay",
        "z": "e4be68656b866693",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "974db16fd7bfbe11"
            ]
        ]
    },
    {
        "id": "a27ceeb989d1f76b",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.lena",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 240,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "03f9288ca43bc3b5",
        "type": "delay",
        "z": "e4be68656b866693",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "c6eac464511edce3"
            ]
        ]
    },
    {
        "id": "57f8d7f660f9a55c",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.lena",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "3de5633425dfd0a2"
            ],
            []
        ]
    },
    {
        "id": "3de5633425dfd0a2",
        "type": "api-call-service",
        "z": "e4be68656b866693",
        "name": "доброе утроЛ",
        "server": "1fa6f800.a5da58",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.yandex_station_340078968308602704d0",
        "data": "{\"media_content_id\":\"Доброе утро Госпожа\",\"media_content_type\":\"text\"}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 200,
        "y": 800,
        "wires": [
            [
                "c10f9a9f7c5ed8ae",
                "a27ceeb989d1f76b"
            ]
        ]
    },
    {
        "id": "c10f9a9f7c5ed8ae",
        "type": "api-current-state",
        "z": "e4be68656b866693",
        "name": "",
        "server": "1fa6f800.a5da58",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.deistvie",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 800,
        "wires": [
            [],
            [
                "3802cdff6dd56210"
            ]
        ]
    },
    {
        "id": "1fa6f800.a5da58",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]